<html>
    <head>
        <title>Scrabble</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class = 'container'>
            <h1>Play Scrabble!</h1>
            <form action = '/results'>
                <label for = 'input'>Write a word</label>
                <input type = 'text' id = 'input' name = 'input'>
                <button type = 'submit'>Submit</button>
            </form>

    </body>
</html>
